<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Cobertura{% endblock %}</title>
        {% block css %}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/fontawesome-all.min.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Cobreturas</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/coberturas">Coberturas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pessoas">Pessoas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/animais">Animais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/garanhoes">Garanhões</a>
                        </li>
                        <li class="nav-item dropdown float-right">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/logout">Sair</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        {% endblock %}
        {% block conteiner %}
            <div id="wrapper">
                <div id="container">
                    {% block body %}
                    {% endblock %}
                </div>
                {% block footer %}
                    <footer class="footer">
                        <div class="container">
                            <span class="text-muted">Sistema de coberturas - Desenvolvido por <a target="_blank" href="http://www.douglasdacosta.com.br" >www.douglasdacosta.com.br<a></span>
                                        </div>
                                        </footer>
                                    {% endblock %}  
                                    </div>

                                {% endblock %}    
                                {% block javascripts %}
                                    <script src="{{ asset('/bundles/app/js/jquery-v3.1.1.min.js')}}"></script>
                                    <script src="{{ asset('/bundles/app/js/tether.min.js')}}"></script>
                                    <script src="{{ asset('/bundles/app/js/bootstrap.min.js')}}"></script>
                                    <script src="{{ asset('/bundles/app/js/main.js')}}"></script>
                                    <script src="{{ asset('/bundles/app/js/jquery.mask.min.js')}}"></script>
                                    <script src="{{ asset('/bundles/app/js/mascaras.js')}}"></script>
                                    <script src="{{ asset('/bundles/app/js/fontawesome-all.js')}}"></script>
                                {% endblock %}    


                                </body>
                                </html>
